* {
  background-color: #002A3E;
  color: #8CD3EF;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#IssueNav, #CommitsNav {
  color: #8CD3EF;
  font-size: xx-large;
  margin-bottom: 20px;
}

#IssueNav:active, #CommitsNav:active {
  color: rgb(0, 255, 255);
  font-size: xx-large;
  margin-bottom: 20px;
}

#IssuesBTN,
#CommitsBTN {
  background: none;
  border: none;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
}